In [2]:
import numpy as np
import pandas as pd
# Load in csv
vine_table_df = pd.read_csv("vine_table.csv")
vine_table_df

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
0,R3O9SGZBVQBV76,5,0,0,N,Y
1,RKH8BNC3L5DLF,5,0,0,N,Y
2,R2HLE8WKZSU3NL,2,1,1,N,Y
3,R31U3UH5AZ42LL,5,0,0,N,Y
4,R2SV659OUJ945Y,4,0,0,N,Y
...,...,...,...,...,...,...
960867,REH8UQZAXQS40,2,17,17,N,N
960868,RJ14QPZEOI9P8,5,9,10,N,N
960869,R2B1G5650WWFCE,5,3,16,N,N
960870,R2MMGPUWXXOFI2,4,0,0,N,N
960871,R2BZMVAERMRUDE,4,5,7,N,N

In [3]:
vote_df = vine_table_df[vine_table_df["total_votes"] >= 20]
vote_df.head()

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
478,R14W2VCHHK5V7W,5,19,20,N,Y
552,R1S3T57O3OYT5S,5,19,20,N,Y
619,R1BTWIBLYYVOV7,5,30,30,N,Y
1025,R6F9VY91ADPLA,1,8,30,N,N
1548,R3PXNV89DFIXKV,5,35,37,N,Y

In [4]:
helpful_df = vote_df.loc[vote_df.helpful_votes / vote_df.total_votes >= .5]
helpful_df

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
478,R14W2VCHHK5V7W,5,19,20,N,Y
552,R1S3T57O3OYT5S,5,19,20,N,Y
619,R1BTWIBLYYVOV7,5,30,30,N,Y
1548,R3PXNV89DFIXKV,5,35,37,N,Y
1573,R2ZF9NYVT3J7D6,5,19,22,N,Y
...,...,...,...,...,...,...
960811,R3C9623WIPWVMB,5,56,58,N,N
960838,R7NJYD6L80A8,5,20,21,N,N
960860,R37CF8J75KF7ZR,2,35,66,N,N
960863,R1W6TRBVZSPGCJ,1,20,20,N,N
960866,R1LGRK91D2CS4N,4,32,39,N,N

In [5]:
# Vine program
vine_df = helpful_df[helpful_df["vine"] == "Y"]
vine_df

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
4122,R1B7M0OP3UNP6O,5,49,52,Y,N
334756,R2UUV4UGGYMQG8,5,34,39,Y,N
428946,R9K0LZV2BK9YY,4,37,39,Y,N
477323,R2OVFLNEUEGTJM,3,18,25,Y,N
664604,RBE09ELJ77LQ0,5,44,45,Y,N
664708,R3867T8AIJJHM6,5,26,27,Y,N
670569,R1FNVUXPU63WOZ,4,43,48,Y,N
675842,R25XGG2G12SE1Z,4,20,23,Y,N
675878,R3JKU4HRDFZDH,4,27,30,Y,N
675929,R2PQYOCJXRB1BF,5,26,28,Y,N
683116,R1JBQ8UBLA8N4X,4,349,370,Y,N
685323,R2I01ZYMO0GYP1,4,107,121,Y,N
688281,R297GF8EF7AXPO,2,22,30,Y,N
689121,R2OFG89WKPLHGU,5,54,60,Y,N
689795,R13PI8O4697CEV,4,135,144,Y,N
695639,R223MX62JYWUOY,4,20,21,Y,N
697894,RTSXZ0HZF623M,3,13,22,Y,N
739529,R1OB4GCKEYGV9I,4,61,90,Y,N
785616,R1YBNRRUD5WCG4,5,15,20,Y,N
787153,R3L4Z6NK2Z4OV5,2,24,33,Y,N
787670,R3LRMV7GANS3MX,3,40,50,Y,N
805529,R2I8W8DX6YIDVK,3,22,26,Y,N
805869,R33Y1P0VTKF46V,5,18,22,Y,N
823873,R2VUWQQBXC9MW9,5,47,51,Y,N
836851,R2PGKWCC0DJNO4,5,23,24,Y,N
837400,R2B8V45UKGS96Q,4,25,26,Y,N
840534,R1VTSAJEQNFBJE,4,23,29,Y,N
841329,R3HDDNR7XJ5PG6,4,29,31,Y,N
841404,R1GI7VUS1L7NWF,4,17,22,Y,N
842121,R2MEXGFT2R9U1D,4,32,36,Y,N
843417,R1VPI6UTL1K31V,5,27,29,Y,N
843463,R131OFSBT1U9QT,4,54,68,Y,N
844625,RMEMUGWUX63KU,5,34,36,Y,N
845108,R3OWVKWQASMEUR,3,38,41,Y,N
845160,R23JRHQ7CL6T6Y,2,19,21,Y,N
847162,RTU8HCIK1EFSJ,4,18,20,Y,N
851508,R39Q51GM18UUKP,4,18,20,Y,N
852103,RQ0VM79JA4P5C,4,19,22,Y,N
852421,REZLEYIW61ZA1,1,26,29,Y,N
852458,R1BUGLZDTZKIHY,4,79,82,Y,N
854968,RPEOU3CJEX7BZ,4,21,24,Y,N
855221,R1ZZVRDZ4GOH54,3,81,92,Y,N
855480,R27BTNRK8JK7U5,3,16,20,Y,N
856045,R2UGJVWDAPAFN3,1,24,27,Y,N
856195,R3TZBND29248V0,5,66,71,Y,N
861436,R5G8T9UNLDU5A,5,44,44,Y,N
863017,R33HPSRJ5K3RHP,5,19,22,Y,N

In [6]:
# Not vine program
novine_df = helpful_df[helpful_df["vine"] == "N"]
novine_df

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
478,R14W2VCHHK5V7W,5,19,20,N,Y
552,R1S3T57O3OYT5S,5,19,20,N,Y
619,R1BTWIBLYYVOV7,5,30,30,N,Y
1548,R3PXNV89DFIXKV,5,35,37,N,Y
1573,R2ZF9NYVT3J7D6,5,19,22,N,Y
...,...,...,...,...,...,...
960811,R3C9623WIPWVMB,5,56,58,N,N
960838,R7NJYD6L80A8,5,20,21,N,N
960860,R37CF8J75KF7ZR,2,35,66,N,N
960863,R1W6TRBVZSPGCJ,1,20,20,N,N
960866,R1LGRK91D2CS4N,4,32,39,N,N

In [11]:
# Total number vine reviews
len(vine_df)

47

In [12]:
# Total number not vine reviews
len(novine_df)

8362

In [13]:
# Total number vine 5 star reviews
len(vine_df[vine_df["star_rating"]==5])

15

In [14]:
# Total number not vine 5 star reviews
len(novine_df[novine_df["star_rating"]==5])

4332

In [16]:
# Total number helpful all with more than 20 votes over 50 percent positive votes
len(helpful_df)

8409